*{
    background-color: rgba(44,44,44);
    background-image: url("https://media.istockphoto.com/id/1348425461/vector/seamless-pattern-with-golden-inscription-devanagari-om-namah-shivaya-greetings-to-shiva.jpg?s=612x612&w=0&k=20&c=zWm-yIk0rT_dWB-aYjU1z25CUrHwWZzr7bsyCJXtbYo=");
    height: auto;
    width: auto;
}
.main{
    background: none;
    height: 800px;
    width: 100%;
}
.shiv-ling{
    background: rgb(0, 0, 0);
    height: 20px;
    width: 20px;
    filter: drop-shadow(30px -20px 40px #ff7900);
    transform: translate(-50%, -50%);
    position: relative;
    top: 315px;
    left: 50%;
    border-radius: 150px 150px 30px 30px;
    border-top: 120px solid rgb(0, 0, 0);
    border-bottom: 120px solid rgb(0, 0, 0);
    border-left: 100px solid rgb(0, 0, 0);
    border-right: 100px solid rgb(0, 0, 0);
}
.one{
    background: silver;
    height: 10px;
    width: 100px;
    border-radius: 10px;
    position: relative;
    left: -200%;
}
.two{
    background: silver;
    height: 10px;
    width: 100px;
    border-radius: 10px;
    position: relative;
    left: -200%;
    top: 17%;
}
.three{
    background: silver;
    height: 10px;
    width: 100px;
    border-radius: 10px;
    position: relative;
    left: -200%;
    top: -65%;
    z-index: -1;
}
.red-dot{
    background: red;
    height: 10px;
    width: 10px;
    position: relative;
    z-index: 1;
    top: -60%;
    border-radius: 10px;
    border: 5px solid darkred;
}
.oval-stand{
    background: rgb(0, 0, 0);
    height: 80px;
    width: 400px;
    transform: translate(-50%,-50%);
    position: relative;
    box-shadow: 5px 70px rgb(0, 0, 0);
    border-radius: 40%;
    z-index: 1;
    top: 24%;
    left: 50%;
}
.block-fill{
    background: rgb(0, 0, 0);
    height: 80px;
    width: 400px;
    position: relative;
    top: 10%;
    left: 0%;
    border-radius: 30px 30px 150px 150px;
    border-left: 5px solid rgba(44,44,44,0.8);
    border-right: 5px solid rgba(44,44,44,0.8);
    border-bottom: 5px solid rgba(44,44,44,0.8);
    border-top: 5px solid rgba(44,44,44,0.8);
}
p.mahamantra{
    text-align: center;
    color: white;
    font-weight: bolder;
    color: white;
}
footer .grid {
    grid-template-columns: repeat(1, 1fr);
  }
